
@charset "UTF-8";


h5 {
   color: #303238;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 70px; }
  


.contents-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}
.contents-wrap:nth-child(odd) {
  flex-direction: row-reverse;
}

.contents-text {
  width: 60%; /*flex: 2;*/
}
.contents-img {
  width: 35%; /*flex: 1;*/
}

.contents-text h2 {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-family: 'Abril Fatface', cursive;
  color: #303238;

}

.contents-img img {
  display: block;
  width: 100%;
  height: auto;
}

`

  .contents-text,
  .contents-img {
    width: 100%; /*flex: 1;*/
  }

  .contents-text {
    padding: 3rem;
  }

  .contents-text h2 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #303238;
    font-size: 20px;

  }








.column {
  text-align: center;
  float:left;
  width: 50%;
  padding: 10px;

}

.column img {
  margin-top: 12px;
 }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}









