
@charset "UTF-8";


h5 {
   color: #303238;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 70px; }
  


.contents-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem;
}
.contents-wrap:nth-child(odd) {
  flex-direction: row-reverse;
}

.contents-text {
  width: 60%; /*flex: 2;*/
}
.contents-img {
  width: 35%; /*flex: 1;*/
}

.contents-text h2 {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  font-family: 'Abril Fatface', cursive;
  color: #303238;

}

.contents-img img {
  display: block;
  width: 100%;
  height: auto;
}

`

  .contents-text,
  .contents-img {
    width: 100%; /*flex: 1;*/
  }

  .contents-text {
    padding: 3rem;
  }

  .contents-text h2 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: #303238;
    font-size: 20px;

  }






.grid_fill,
.grid_fit
{
width: min(100%, 800px);
margin: 50px auto;
padding: 20px;
border: 1px solid #ee8392;
display: grid;
grid-gap: 10px;
}
.grid_fill {
grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.grid_fit {
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.item {
height: 80px;
border:1px solid #ccc;
background-color: #fff;
display:flex;
justify-content: center;
align-items: center;
}









